{% extends 'base.html.twig' %} {% block title %}La Paillote du Soleil{% endblock
%} {% block body %}

<main>
  <section class="hero-section">
    <div class="hero-video-container">
      <video autoplay muted loop>
        <source src="{{ asset('images/hero_v2.webm') }}" type="video/webm" />
      </video>
    </div>
  </section>
</main>
{% endblock %}
