<footer>
  <div class="copyright">
    <p>Copyright 2023 - MSPR Team 2</p>
  </div>
  <div class="adress">
    <p>12 rue du Fou</p>
    <p>34350 Valras-Plage</p>
    <p>Tel : 02 03 45 67 89</p>
  </div>
  <div>
    <p class="h3">Nos réseaux sociaux</p class="h3">
    <ul>
      <li>
        <a href="https://facebook.com" target="_blank"
          ><i class="fa-brands fa-facebook"></i
        ></a>
      </li>
      <li>
        <a href="https://twitter.com" target="_blank"
          ><i class="fa-brands fa-twitter"></i
        ></a>
      </li>
      <li>
        <a href="https://instagram.com" target="_blank"
          ><i class="fa-brands fa-instagram"></i
        ></a>
      </li>
      <li>
        <a href="https://linkedin.com" target="_blank"
          ><i class="fa-brands fa-linkedin"></i
        ></a>
      </li>
    </ul>
  </div>
</footer>
