<header>
  <nav>
    <div class="logo">
      <img src="{{ asset("images/paillotte.svg") }}" alt="Logo"/>
    </div>
    <ul>
      <li><a href="#">Restaurant</a></li>
      <li><a href="#">Actualités</a></li>
      <li><a href="#">Services</a></li>
    </ul>
    <a href="#" class="book" id="desktop-mobile">
      Réservez <i class="fa-regular fa-calendar-check"></i>
    </a>
  </nav>
</header>
