<header>
  <nav>
    <div class="logo"><img src="#" alt="Logo" /></div>
    <ul>
      <li><a href="#">Carte</a></li>
      <li><a href="#">Réservation</a></li>
      <li><a href="#">Actualités</a></li>
      <li><a href="#">Services</a></li>
    </ul>
  </nav>
</header>
