@use "../base/variables";

.blog-page {
  text-align: center;
}

.cards {
  display: flex !important;
  margin-top: 0.5rem !important;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin-bottom: 1rem;
  .article__card {
    position: relative;
    .article__card-img {
      width: 400px;
      height: 400px;
      position: relative;
      margin-bottom: 0.5rem;
      img {
        border-radius: 10px 10px 0 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .card__title {
      padding: 1rem 2rem;
      position: absolute;
      bottom: 0;
      width: 100%;
      overflow: hidden;
      background-color: rgba(20, 19, 19, 0.781);
      color: white;
    }
  }
}

.margin-bottom {
  margin: 1rem 0;
}

.btn_crud {
  margin-top: 0.5rem;
  font-family: variables.$miracle-font;
  display: inline-block;
  font-weight: 800;
  border: 1px solid gray;
  border-radius: 10px;
  background-color: variables.$blue-green;
  color: white !important;
  width: fit-content;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 300ms ease-in-out;
}

.btn_crud:not(:last-child) {
  margin-bottom: 0.5rem;
}

.btn_crud:hover {
  background-color: variables.$light-green;
}

.article {
  text-align: center;
  .detailed-article-img {
    width: 80%;
    height: 200px;
    margin: 0 auto;
    img {
      border-radius: 10px;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  p {
    text-align: justify;
    margin: 1rem auto;
    width: 80%;
  }

  .article-bottom {
    text-align: left;
    width: 80%;
    margin: 1rem auto;
  }
}

.backHome {
  margin-top: 0.5rem;
}

.edit-article {
  width: 50%;
  margin: 0 auto 1rem;
  h1 {
    text-align: center;
  }

  #article_title,
  #article_content,
  #article_image {
    width: 100%;
    background-color: white;
    margin-top: 10px;
    // border: solid;
    // border-width: 2px;
    // border-color: #225560;
    border-radius: 4px;
    margin: 0.5rem 0;
  }

  #contact_submit {
    width: 100%;
    margin-top: 10px;
  }

  .mb {
    margin: 0.5rem 0;
  }
}
