{% extends 'base.html.twig' %}

{% block title %} Plage privée {% endblock %}

{% block body %}
    <div class="main-container">
    <div class="container">
        <section class="presentation">
            <article class="left-content">
                <img
                        src="{{ asset('images/Plage-privée.jpeg') }}"
                        alt="photo d'un Plage-privée'"
                />
            </article>
            <article class="right-content">
                <h3 class="presentation-title">Notre plage privée</h3>
                <br/>
                <p>
                     Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga eos ullam distinctio?
                     Ab totam, consectetur quo neque, 
                    recusandae deleniti, minus eaque in asperiores mollitia quia dolores iure quas quis expedita.
                </p>
            </article>
        </section>
    </div>
    </p>
    </div>
{% endblock %}