<form
  method="post"
  action="{{ path('app_article_delete', { id: article.id }) }}"
  onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cet article ?');"
>
  <input
    type="hidden"
    name="_token"
    value="{{ csrf_token('delete' ~ article.id) }}"
  />
  <input type="submit" class="detail-btn btn_crud" value="Supprimer"></input>
</form>
